.market-container { 
    height: 100vh;
    align-items: center;
    margin: 0 auto;
}

h1 { 
    font-family: var(--primary-font)
}

.container {
    max-width: 1140px;
}

.heading { 
    background-color: var(--shadow-color);
    height: 4rem;
    border-top-right-radius: 10px
}

/* .heading {
    display: flex;
    justify-content: space-between;
    background-color: #26272b;
    box-shadow: 0px 0px 12px #18191b;
    border-radius: 8px;
    margin: 2rem 1rem;
    padding: .7rem 1rem;
    font-weight: 700;
}

.heading p {
    margin-bottom: 0;
}

.coin-name {
    margin-left: -4rem;
}

.coin-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #26272b;
    box-shadow: 0px 0px 12px #18191b;
    border-radius: 8px;
    margin: 2rem 1rem;
    padding: .7rem 1rem;
}

.coin-row:hover {
    transform: scale(1.04);
    transition: .3s ease-in-out;
    cursor: pointer;
}

.coin-row p {
    margin-bottom: 0;
} */

.coin-row, td { 
    border-bottom: 1px solid var(--shadow-color);
}

img {
    height: 40px;
    margin-right: 8px;
    width: auto;
}

.img-symbol {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-symbol > * {
    margin: auto 5px;
}



@media screen and (max-width: 720px) {
    .hide-mobile {
        display: none;
    }

}